{{#each news}}
    <article class="card" style="width: 100%; align-content:center; text-align:center">
        <button class="btn btn-warning btn-large" data-link="{{link}}" data-title="{{title}}">Add Article</button>
        <span style="height: 50px; align-content: center;">{{title}}</span>
               <a href="{{link}}" class="btn btn-primary btn-large">Link</a>
    </article>
    <br>
    
{{/each}}